<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="card-tiyle">Editar Volcan</h2>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="idVolca">Volcan ID</label>
                    <input type="number" class="form-control" id="idVolca" name="idVolca"
                        [(ngModel)]="volcan.idVolca" />
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="volcan.nombre" />
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="pais">Pais</label>
                    <input type="text" class="form-control" id="pais" name="pais" [(ngModel)]="volcan.pais" />
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="actividad">Actividad</label>
                    <input type="text" class="form-control" id="actividad" name="actividad"
                        [(ngModel)]="volcan.actividad" />
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="altura">Altura</label>
                    <input type="number" class="form-control" id="altura" name="altura" [(ngModel)]="volcan.altura" />
                </div>
                <button type="button" class="btn btn-primary" (click)="editar()">Editar</button>
            </form>
        </div>
    </div>
</div>